<ActionBar>
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf060;" class="far icon-drawer" (tap)="onBackTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf053;" class="far" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
    <Label textTransform="capitalize" [text]="item.name"></Label>
</ActionBar>

<ScrollView class="page__content">
    <StackLayout>
        <GridLayout>
            <Image class="image_post" src="~/images/coordination/bg_03.png" row="0" col="0"></Image>
            <NSImage radius="50" stretch="aspectFill" placeholderStretch="aspectFill" placeholder="res://placeholder" [src]="item.email | gmail" horizontalAlignment="center" width="75" height="75" row="0" col="0"></NSImage>
        </GridLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf0e0;" class="far -simple -rounded-lg" (tap)="openEmail(item.email)" width="60px"></Button>
        </StackLayout>
        <StackLayout orientation="vertical" horizontalAlignment="left" padding="10">
            <Label class="label-email text-muted" [text]="item.email" textWrap="true" textAlignment="left"></Label>
            <Label class="label-title" verticalAlignment="top" [text]="item.name" textTransform="capitalize" textWrap="true" textAlignment="left"></Label>
            <Label class="label-words" [text]="item.fields" textWrap="true" textAlignment="left"></Label>
            <StackLayout class="hr m-10"></StackLayout>
            <HtmlView [html]="item.cv"></HtmlView>
            <StackLayout class="hr m-10"></StackLayout>
            <Label padding="10" class="h5 text-muted card-description" textAlignment="center" textWrap="true" text="- UNAM 2020 -"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>