<ActionBar title="Acerca">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;" class="far icon-drawer" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf0c9;" class="far" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<ScrollView class="page__content">
    <GridLayout columns="*" rows="auto">
        <MDCardView margin="10">
            <GridLayout columns="*, auto" rows="*, *, auto">
                <StackLayout class="image-bg" row="0" col="0">
                </StackLayout>
                <Image class="logo" src="~/images/logo.png"></Image>
                <StackLayout orientation="vertical" padding="10" row="2" col="0" horizontalAlignment="left" marginTop="40px">
                    <HtmlView [html]="data.info"></HtmlView>
                    <StackLayout class="hr m-10"></StackLayout>
                    <HtmlView [html]="data.address"></HtmlView>
                    <StackLayout orientation="horizontal" horizontalAlignment="left" (tap)="openEmail(data.email)">
                        <Label margin="6 0 0 10" text="&#xf0e0;" class="far"></Label>
                        <Label textWrap="true" [text]="data.email" class="label-info" fontWeight="600"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal" horizontalAlignment="left" (tap)="openPhone(data.telephone)">
                        <Label margin="6 0 0 10" text="&#xf095;" class="far"></Label>
                        <Label textWrap="true" [text]="data.telephone" class="label-info" fontWeight="600"></Label>
                    </StackLayout>
                    <StackLayout class="hr m-10"></StackLayout>
                    <Label textWrap="true" [text]="data.copyright" class="label-copyright text-muted" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </MDCardView>
    </GridLayout>
</ScrollView>