<ActionBar>
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf060;" class="far icon-drawer" (tap)="onBackTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf053;" class="far" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
    <Label [text]="item.title"></Label>
</ActionBar>

<ScrollView class="page__content">
    <StackLayout orientation="vertical" horizontalAlignment="right">
        <Image class="image_post" [src]="item.image"></Image>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf08e;" class="far -simple -rounded-lg" (tap)="openBrowser(item.url)" width="60px"></Button>
            <Button text="&#xf1e0;" class="far -simple -rounded-lg" (tap)="share(item)" width="60px"></Button>
            <Button text="&#xf004;" class="far -simple -rounded-lg" (tap)="like(item)" width="60px"></Button>
        </StackLayout>
        <Label padding="10" class="label-title" textTransform="uppercase" textAlignment="left" textWrap="true" [text]="item.title"></Label>
        <Label padding="10" class="h5 text-primary card-description" textAlignment="left" textWrap="true" [text]="item.date_published | timeAgo"></Label>
        <GridLayout rows="*" columns="*">
            <WebView row="0" col="0" [src]="item.content_html" [height]="height" (loadFinished)="onWebViewLoadFinished($event)"></WebView>
        </GridLayout>
        <Label padding="10" class="h5 text-primary card-description" textAlignment="right" textWrap="true" [text]="item.author.name"></Label>
        <StackLayout class="hr m-10"></StackLayout>
        <Label padding="10" class="h5 text-muted card-description" textAlignment="center" textWrap="true" text="- UNAM 2020 -"></Label>
    </StackLayout>
</ScrollView>