<ActionBar title="Comunicados">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;" class="far icon-drawer" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf0c9;" class="far icon-drawer" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf005;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>