<ActionBar title="Marcador guardado...">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf060;" class="far icon-drawer" (tap)="onBackTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf053;" class="far" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
</ActionBar>

<ScrollView class="page__content">
    <StackLayout *ngIf="condition" orientation="vertical" horizontalAlignment="right">
        <NSImage height="240" stretch="aspectFill" [src]="item.image"  placeholder="res://placeholder"></NSImage>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Button text="&#xf08e;" class="far -simple -rounded-lg" (tap)="openBrowser(item.url)" width="60px"></Button>
            <Button text="&#xf1e0;" class="far -simple -rounded-lg" (tap)="shareItem(item)" width="60px"></Button>
            <Button text="&#xf2ed;" class="far -simple -rounded-lg" (tap)="deleteItem(item)" width="60px"></Button>
        </StackLayout>
        <Label padding="10" class="label-title" textTransform="uppercase" textAlignment="left" textWrap="true" [text]="item.title"></Label>
        <Label padding="10" class="h5 text-primary card-description" textAlignment="left" textWrap="true" [text]="item.date_published | timeAgo"></Label>
        <GridLayout rows="*" columns="*" padding="10">
            <HtmlView row="0" col="0" [height]="height" [html]="item.content_html"></HtmlView>
        </GridLayout>
        <Label padding="10" class="h5 text-primary card-description" textAlignment="right" textWrap="true" [text]="item.author.name"></Label>
        <StackLayout class="hr m-10"></StackLayout>
        <Label padding="10" class="h5 text-muted card-description" textAlignment="center" textWrap="true" text="- UNAM 2020 -"></Label>
    </StackLayout>
    <StackLayout *ngIf="!condition" orientation="vertical" width="210" height="210">
        <GridLayout columns="*" rows="*" padding="0">
            <MDActivityIndicator width="50" height="50" busy="true" color="#42a5f5" row="0" col="0"></MDActivityIndicator>
            <Image src="~/images/bg_01.png" row="0" col="0"></Image>
        </GridLayout>
    </StackLayout>
</ScrollView>