<ActionBar title="Calendario escolar">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;" class="far icon-drawer" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf0c9;" class="far" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<StackLayout class="page__content">
    <Label  padding="10 10" text="Periodo 2021-1"></Label>
    <StackLayout class="hr m-10"></StackLayout>
    <ListView [items]="items" height="100%">
        <ng-template let-item="item">
            <GridLayout columns="60, *, 50" rows="*, auto">
                <StackLayout class="item-calendar" orientation="vertical" width="50" height="50" row="0" col="0" rowspan="2">
                    <Label padding="0" class="item-day" [text]="item.startdate | date : 'd'"></Label>
                    <Label padding="0" class="item-email" [text]="item.startdate | date : 'LLL'"></Label>
                </StackLayout>
                <Label class="item-name" [text]="item.name" row="0" col="1"></Label>
                <StackLayout orientation="horizontal" row="2" col="1">
                    <Label class="item-email" textAlignment="left" [text]="item.startdate | date : 'd LLL, yyy'"></Label>
                    <Label class="item-email" textAlignment="left" text="/"></Label>
                    <Label class="item-email" textAlignment="left" [text]="item.enddate | date : 'd LLL, yyy'"></Label>
                </StackLayout>
                <Button text="&#xf271;" class="far -simple -rounded-lg" (tap)="onTap(item)" width="50px" hight="50px" row="0" col="2" rowspan="2" horizontalAlignment="right"></Button>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>