<ActionBar>
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf060;" class="far icon-drawer" (tap)="onBackTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf053;" class="far" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
    <Label [text]="item.title"></Label>
</ActionBar>

<ScrollView class="page__content">
    <StackLayout orientation="vertical" horizontalAlignment="left">
        <GridLayout>
            <Image class="image_post" [src]="item.bg" row="0" col="0"></Image>
            <Image class="logo" [src]="item.image" horizontalAlignment="center" row="0" col="0"></Image>
        </GridLayout>
        
        <Label class="h2" verticalAlignment="top" [text]="item.name" textWrap="true" textAlignment="left"></Label>
        <Label class="h3" verticalAlignment="top" [text]="item.title" textWrap="true" textAlignment="left"></Label>
        <Label class="" verticalAlignment="top" [text]="item.email" textWrap="true" textAlignment="left"></Label>
        <Label class="" verticalAlignment="top" [text]="item.phone" textWrap="true" textAlignment="left"></Label>
        <HtmlView [html]="item.description"></HtmlView>
    </StackLayout>
</ScrollView>