<ActionBar title="Comunicados">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;" class="far icon-drawer" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf0c9;" class="far" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<PullToRefresh (refresh)="refreshList($event)" indicatorFillColor="#ffffff" indicatorColor="#ec407a">
    <ScrollView class="page__content">
        <StackLayout *ngIf="condition">
            <MDCardView *ngFor="let item of items" ripple="true" margin="10">
                <GridLayout columns="*, *" rows="1*, *, auto" padding="0">
                    <NSImage height="220" stretch="aspectFill" radius="5 5 0 0" [src]="item.image" [nsRouterLink]="['item', item.id]" row="0" col="0" colSpan="2" placeholder="res://placeholder"></NSImage>
                    <StackLayout padding="5 10 0 10" row="1" col="0" colSpan="2">
                        <Label class="label-title" textWrap="true" textTransform="uppercase" [text]="item.title" [nsRouterLink]="['item', item.id]"></Label>
                    </StackLayout>
                    <StackLayout padding="10" row="2" col="0" horizontalAlignment="left">
                        <Label class="h5 text-primary card-description" textAlignment="right" textWrap="true" [text]="item.date_published | timeAgo"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal" row="2" col="1" horizontalAlignment="right">
                        <Button text="&#xf1e0;" class="far -simple -rounded-lg" (tap)="shareItem(item)" width="60px"></Button>ß
                    </StackLayout>
                </GridLayout>
            </MDCardView>
        </StackLayout>
        <StackLayout *ngIf="!condition" orientation="vertical" width="210" height="210">
            <GridLayout columns="*" rows="*" padding="0">
                <MDActivityIndicator width="50" height="50" busy="true" color="#42a5f5" row="0" col="0"></MDActivityIndicator>
                <Image src="~/images/bg_01.png" row="0" col="0"></Image>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</PullToRefresh>