<ActionBar title="Marcadores guardados">
    <!--  android -->
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;" class="far icon-drawer" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--  ios -->
    <ActionItem icon="font://&#xf0c9;" class="far" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<ScrollView class="page__content">
    <ListView *ngIf="condition" [items]="items" height="100%">
        <ng-template let-item="item">
            <GridLayout columns="110, *, 30" rows="*, auto">
                <NSImage class="img-rounded" stretch="aspectFill" [src]="item.item.image" horizontalAlignment="center" width="100" height="100" row="0" col="0" rowspan="2"></NSImage>
                <Label class="t-14" textWrap="true" textTransform="uppercase" [nsRouterLink]="['item', item.item.id]" [text]="item.item.title  | truncate:[68, '...']" row="0" col="1"></Label>
                <Label class="item-email text-muted" [nsRouterLink]="['item', item.item.id]" [text]="item.item.date_published | date: 'mediumDate'" row="1" col="1"></Label>
                <Button text="&#xf105;" class="far -simple -rounded-lg" [nsRouterLink]="['item', item.item.id]" width="50px" hight="50px" row="0" col="2" rowspan="2" horizontalAlignment="right"></Button>
            </GridLayout>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="!condition" orientation="vertical" width="210" height="210">
        <GridLayout columns="*" rows="*" padding="0">
            <MDActivityIndicator width="50" height="50" busy="true" color="#42a5f5" row="0" col="0"></MDActivityIndicator>
            <Image src="~/images/bg_01.png" row="0" col="0"></Image>
        </GridLayout>
    </StackLayout>
</ScrollView>